.chatBox {
    max-height: 710px;
    width: 100%;
    height: 710px;
    margin-top: 10px;
}

.chatMessages {
    height: auto;
    overflow-y: auto;
    padding-bottom: 20px;
}

.sendMessageInput {
    width: 100%;
    height: 35px;
    border-radius: 5px 0 5px 5px;
    border: 1px solid #afafaf;
}

.messageInputArea {
    height: 33px;
    border: none;
    box-shadow: none !important;
}

.sendMessageIcon {
    margin-right: 5px;
    transition: all .3s ease-in-out;
}


.sendMessageIcon:hover {
    opacity: .8;
    cursor: pointer;
}

.message {
    position: relative;
}

.messageText {
    position: relative;
    background: #822433;
    border-radius: 5px 5px 5px 0;
    color: white;
    max-width: 400px;
    margin-left: 60px;
}

.messageText > .username {
    font-weight: bold;
}

.message:not(:first-child) {
    margin-top: 20px;
}

.hourSentMessage {
    bottom: 0;
    right: 5px;
    color: white;
    position: absolute;
    font-size: 15px;
}

.userIconMessage {
    width: 50px;
    height: 50px;
    background-image: url("http://via.placeholder.com/50.png");
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.chatMessages::-webkit-scrollbar, .onlineUsers::-webkit-scrollbar {
    width: 10px;
}

.chatMessages::-webkit-scrollbar-track, .onlineUsers::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatMessages::-webkit-scrollbar-thumb, .onlineUsers::-webkit-scrollbar-thumb {
    background: #822433;
}

.otherMessage {
    background-color: #111123bd;
}

.otherMessage:after {
    content: ' ';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #111123bd;
    border-left: 0;
    border-bottom: 0;
    bottom: 0px;
    margin-left: -10px;
    border-radius: 0 0 0 3px;
}

.myMessage {
    justify-content: flex-end;
}

.myMessage > .messageText {
    margin-right: 60px;
    margin-left: 0;
    border-radius: 5px 5px 0px 5px;
}

.myMessage > .messageText:after {
    content: '';
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-left-color: #822433;
    border-right: 0;
    border-bottom: 0;
    bottom: 0;
    margin-right: -10px;
}

