.onlineUsers {
    overflow-y: auto;
    width: 300px;
    margin-left: 30px;
    height: 450px;
    max-height: 450px;
}

.userOnline {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url("http://via.placeholder.com/75.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.userOnline::after {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #1b6e27;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    content: ' ';
}

.userBoxOnline:not(:last-child) {
    margin-bottom: 10px;
}

.arrowLeft {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    left: 10px;
    top: 35px;
    z-index: 2;
    background: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
    box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
}

.arrowRight {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    position: absolute;
    right: 10px;
    top: 35px;
    z-index: 2;
    background: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
    -moz-box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
    box-shadow: 0px 0px 14px 0px rgba(186,186,186,1);
}

.chatBox {
    max-height: 450px;
    width: 100%;
    height: 450px;
    margin-top: 10px;
}

.chatMessages {
    max-height: 450px;
    overflow-y: auto;
    padding-bottom: 20px;
}

.sendMessageInput {
    width: 100%;
    height: 35px;
    border-radius: 5px 0 5px 5px;
    border: 1px solid #afafaf;
}

.messageInputArea {
    height: 33px;
    border: none;
    box-shadow: none !important;
}

.sendMessageIcon {
    margin-right: 5px;
    transition: all .3s ease-in-out;
}


.sendMessageIcon:hover {
    opacity: .8;
    cursor: pointer;
}

.message {
    position: relative;
}

.messageText {
    position: relative;
    background: #822433;
    border-radius: 5px 5px 5px 0;
    color: white;
    max-width: 400px;
    margin-left: 60px;
}

.messageText > .username {
    font-weight: bold;
}

.message:not(:first-child) {
    margin-top: 20px;
}

.messageText:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: #822433;
    border-left: 0;
    border-bottom: 0;
    bottom: 0px;
    margin-left: -10px;
    border-radius: 0 0 0 3px;
}

.hourSentMessage {
    bottom: 0;
    right: 5px;
    color: white;
    position: absolute;
    font-size: 15px;
}

.userIconMessage {
    width: 50px;
    height: 50px;
    background-image: url("http://via.placeholder.com/50.png");
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

.chatMessages::-webkit-scrollbar, .onlineUsers::-webkit-scrollbar {
    width: 10px;
}

.chatMessages::-webkit-scrollbar-track, .onlineUsers::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.chatMessages::-webkit-scrollbar-thumb, .onlineUsers::-webkit-scrollbar-thumb {
    background: #822433;
}

