.post-comment {
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #afafaf;
}

.post-comment:not(:last-child) {
    margin-bottom: 10px;
}

.post-comment .realname {
    font-weight: 500;
    margin-right: 5px;
}

.post-comment .username {
    font-size: 0.9em;
}

.post-comment .publish-date {
    font-size: 0.8em;
}

.post-comment p {
    font-size: 0.9em;
    margin-bottom: 0;
    overflow-wrap: break-word;
}

.commentUserPicture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("http://via.placeholder.com/30.png");
    background-size: cover;
    background-repeat: no-repeat !important;
    margin-right: 10px;
}
