/back-end/server/web.config
/back-end/serverChat/node_modules/

/front-end/node_modules/

# IDE - WebStorm
.idea

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json