.loginBox {
    width: 400px;
    min-height: 500px;
    border-radius: 10px;
    border: 1px solid #afafaf;
}

.logo {
    width: 75px;
    height: 75px;
    background: url("../../images/logoSapienza.jpg") no-repeat;
    background-size: contain;
}

.titleLogin {
    font-size: 30px;
    cursor: default;
}

.signInText {
    font-size: 22px;
}

.createAccount {
    transition: all .1s ease-in-out;
    font-weight: bold;
    color: #007bff;
}

.createAccount:hover {
    opacity: .8;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

.noDecoration {
    text-decoration: none !important;
}
