html, body, #react-root {
    width: 100%;
    height: 100%;
}

.sapienzaButton {
    background-color: #822433 !important;
    border-color: #822433 !important;
}

.sapienzaButton:focus {
    box-shadow: none;
}

.sapienzaButton:hover:not(:disabled) {
    opacity: .8;
}

.noselectText {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
