.homeContainerGroups {
    max-width: 960px;
    margin-top: 105px;
    width: 100%;
}

.myGroupsTitle {
    font-weight: bold;
    border-bottom: 1px solid #afafaf;
    width: 100%;
    padding-bottom: 3px;
}

.groupsList {
    margin-top: 20px;
}

.createGroupText {
    color: #822433;
    font-weight: bold;
}

.createGroupText:hover {
    cursor: pointer;
    opacity: .8;
}


@media only screen and (max-width: 977px) {
    .groupsList {
        justify-content: center;
    }
}
