.closeInviteModal {
    position: absolute;
    right: 5px;
    top: 5px;
}

.closeInviteModal:hover {
    cursor: pointer;
    opacitty: .8;
}

.searchUserDropdown {
    width: 100%;
    position: absolute;
    min-height: 35px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(21, 21, 21, 0.75);
    -moz-box-shadow: 0px 0px 3px 1px rgba(21, 21, 21, 0.75);
    box-shadow: 0px 0px 3px 1px rgba(21, 21, 21, 0.75);
    background: white;
    z-index: 100;
    max-height: 300px;
    overflow-y: auto;
}

.userSearchResultModalInvite {
    padding: 7px;
    cursor: pointer;
}

.userSearchResultModalInvite:hover {
    background-color: rgba(130, 36, 51, .9);
}

.userSearchResultModalInvite:hover > .userSearchResultModalInviteUsername {
    color: white;
    font-weight: bold;
}


.userSearchResultModalInviteImage {
    background: url("http://via.placeholder.com/50.png");
    border-radius: 5px;
    width: 25px;
    height: 25px;
}

.userSearchResultModalInviteUsername {
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
}

.userAddedToInvitation {
    max-width: 120px;
    border-radius: 5px;
    background: #822433;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    transition: all .3s ease-in-out;
    margin-right: 5px;
    width: auto;
}

.usernameChip {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 80px;
    cursor: default;
    margin-right: 20px;
}

.removeChipUser {
    cursor: pointer;
    position: absolute;
    right: 5px;
    margin-left: 10px;
}

.removeChipUser:hover {
    opacity: .8;
}
