.home {
    max-width: 960px;
    height: 100%;
    margin-top: 105px;
}

.main-content {
    padding: 10px;
    width: 80%;
    background-color: red;
}

.navigation-menu {
    position: sticky;
    max-width: 20%;
    width: 100%;
    top: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #afafaf;
}

.menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.navigation-menu .menu-item:not(:last-child) {
    margin-bottom: 10px;
}

.menu-item span {
    font-size: 20px;
    margin-left: 10px;
}