<?xml version="1.0" encoding="UTF-8"?>
 <configuration>
     <system.webServer>
		<staticContent>
             <mimeMap fileExtension=".php" mimeType="text/plain" />
		</staticContent>
		<handlers>
			<remove name="php-7.4.1" />
			<remove name="php-7.1.29" />
			<remove name="php-7.2.26" />
        </handlers>
     </system.webServer>
 </configuration>